<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>How many letters would you like in your password?</p>
        <input type="text" placeholder="write here " v-model="letter" id="letter_input" @input="letter_input">
        <p>How many number would you like in your password?</p>
        <input type="text" placeholder="write here " v-model="number" @input="number_input">
        <p>How many symbol would you like in your password?</p>
        <input type="text" placeholder="write here " v-model="symbol" @input="symbol_input">
        <button id="button" @click="find_password">Make password</button>
        <br>
        <div>
            {{result}}
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script src="random_password_generator.js"></script>

</body>
</html>